.bg-color-dropdown-bespoke {
  background-color: #526781;
}

.icon-color-bespoke {
  color: #67809f;
}

.icon-services-bespoke {
  background-color: #67809f;
  color: #fff;
}

.hover-services--bespoke:hover {
  background-color: #67809f;
}
.hover-services--bespoke:hover button, .hover-services--bespoke:hover span {
  background-color: #fff;
  color: #67809f;
}
.hover-services--bespoke:hover h4, .hover-services--bespoke:hover p {
  color: #fff;
}
.hover-services--bespoke:hover i {
  color: #67809f;
  background-color: #fff;
}

.hover-color--bespoke:hover {
  background-color: #67809f;
}
.hover-color--bespoke:hover i {
  color: #fff;
}

.arrow-color--bespoke {
  color: #67809f;
}

.btn-color--bespoke {
  background-color: #67809f;
  color: #fff;
}
.btn-color--bespoke:hover {
  background-color: #526781;
}

.bg-color-dropdown-support {
  background-color: #286abd;
}

.icon-color-support {
  color: #4183d7;
}

.icon-services-support {
  background-color: #4183d7;
  color: #fff;
}

.hover-services--support:hover {
  background-color: #4183d7;
}
.hover-services--support:hover button, .hover-services--support:hover span {
  background-color: #fff;
  color: #4183d7;
}
.hover-services--support:hover h4, .hover-services--support:hover p {
  color: #fff;
}
.hover-services--support:hover i {
  color: #4183d7;
  background-color: #fff;
}

.hover-color--support:hover {
  background-color: #4183d7;
}
.hover-color--support:hover i {
  color: #fff;
}

.arrow-color--support {
  color: #4183d7;
}

.btn-color--support {
  background-color: #4183d7;
  color: #fff;
}
.btn-color--support:hover {
  background-color: #286abd;
}

.bg-color-dropdown-marketing {
  background-color: #25a25a;
}

.icon-color-marketing {
  color: #2ecc71;
}

.icon-services-marketing {
  background-color: #2ecc71;
  color: #fff;
}

.hover-services--marketing:hover {
  background-color: #2ecc71;
}
.hover-services--marketing:hover button, .hover-services--marketing:hover span {
  background-color: #fff;
  color: #2ecc71;
}
.hover-services--marketing:hover h4, .hover-services--marketing:hover p {
  color: #fff;
}
.hover-services--marketing:hover i {
  color: #2ecc71;
  background-color: #fff;
}

.hover-color--marketing:hover {
  background-color: #2ecc71;
}
.hover-color--marketing:hover i {
  color: #fff;
}

.arrow-color--marketing {
  color: #2ecc71;
}

.btn-color--marketing {
  background-color: #2ecc71;
  color: #fff;
}
.btn-color--marketing:hover {
  background-color: #25a25a;
}

.bg-color-dropdown-telecoms {
  background-color: #bc2c28;
}

.icon-color-telecoms {
  color: #d64541;
}

.icon-services-telecoms {
  background-color: #d64541;
  color: #fff;
}

.hover-services--telecoms:hover {
  background-color: #d64541;
}
.hover-services--telecoms:hover button, .hover-services--telecoms:hover span {
  background-color: #fff;
  color: #d64541;
}
.hover-services--telecoms:hover h4, .hover-services--telecoms:hover p {
  color: #fff;
}
.hover-services--telecoms:hover i {
  color: #d64541;
  background-color: #fff;
}

.hover-color--telecoms:hover {
  background-color: #d64541;
}
.hover-color--telecoms:hover i {
  color: #fff;
}

.arrow-color--telecoms {
  color: #d64541;
}

.btn-color--telecoms {
  background-color: #d64541;
  color: #fff;
}
.btn-color--telecoms:hover {
  background-color: #bc2c28;
}

.bg-color-dropdown-design {
  background-color: #79539a;
}

.icon-color-design {
  color: #926fb1;
}

.icon-services-design {
  background-color: #926fb1;
  color: #fff;
}

.hover-services--design:hover {
  background-color: #926fb1;
}
.hover-services--design:hover button, .hover-services--design:hover span {
  background-color: #fff;
  color: #926fb1;
}
.hover-services--design:hover h4, .hover-services--design:hover p {
  color: #fff;
}
.hover-services--design:hover i {
  color: #926fb1;
  background-color: #fff;
}

.hover-color--design:hover {
  background-color: #926fb1;
}
.hover-color--design:hover i {
  color: #fff;
}

.arrow-color--design {
  color: #926fb1;
}

.btn-color--design {
  background-color: #926fb1;
  color: #fff;
}
.btn-color--design:hover {
  background-color: #79539a;
}

.bg-color-dropdown-cyber {
  background-color: #de093f;
}

.icon-color-cyber {
  color: #f62459;
}

.icon-services-cyber {
  background-color: #f62459;
  color: #fff;
}

.hover-services--cyber:hover {
  background-color: #f62459;
}
.hover-services--cyber:hover button, .hover-services--cyber:hover span {
  background-color: #fff;
  color: #f62459;
}
.hover-services--cyber:hover h4, .hover-services--cyber:hover p {
  color: #fff;
}
.hover-services--cyber:hover i {
  color: #f62459;
  background-color: #fff;
}

.hover-color--cyber:hover {
  background-color: #f62459;
}
.hover-color--cyber:hover i {
  color: #fff;
}

.arrow-color--cyber {
  color: #f62459;
}

.btn-color--cyber {
  background-color: #f62459;
  color: #fff;
}
.btn-color--cyber:hover {
  background-color: #de093f;
}

.bg-color-dropdown-developer {
  background-color: #a3331d;
}

.icon-color-developer {
  color: #ce4125;
}

.icon-services-developer {
  background-color: #ce4125;
  color: #fff;
}

.hover-services--developer:hover {
  background-color: #ce4125;
}
.hover-services--developer:hover button, .hover-services--developer:hover span {
  background-color: #fff;
  color: #ce4125;
}
.hover-services--developer:hover h4, .hover-services--developer:hover p {
  color: #fff;
}
.hover-services--developer:hover i {
  color: #ce4125;
  background-color: #fff;
}

.hover-color--developer:hover {
  background-color: #ce4125;
}
.hover-color--developer:hover i {
  color: #fff;
}

.arrow-color--developer {
  color: #ce4125;
}

.btn-color--developer {
  background-color: #ce4125;
  color: #fff;
}
.btn-color--developer:hover {
  background-color: #a3331d;
}

.bg-color-dropdown-dark {
  background-color: #0c0d12;
}

.icon-color-dark {
  color: #212330;
}

.icon-services-dark {
  background-color: #212330;
  color: #fff;
}

.hover-services--dark:hover {
  background-color: #212330;
}
.hover-services--dark:hover button, .hover-services--dark:hover span {
  background-color: #fff;
  color: #212330;
}
.hover-services--dark:hover h4, .hover-services--dark:hover p {
  color: #fff;
}
.hover-services--dark:hover i {
  color: #212330;
  background-color: #fff;
}

.hover-color--dark:hover {
  background-color: #212330;
}
.hover-color--dark:hover i {
  color: #fff;
}

.arrow-color--dark {
  color: #212330;
}

.btn-color--dark {
  background-color: #212330;
  color: #fff;
}
.btn-color--dark:hover {
  background-color: #0c0d12;
}

.bg-color-dropdown-search {
  background-color: #7e808a;
}

.icon-color-search {
  color: #999aa2;
}

.icon-services-search {
  background-color: #999aa2;
  color: #fff;
}

.hover-services--search:hover {
  background-color: #999aa2;
}
.hover-services--search:hover button, .hover-services--search:hover span {
  background-color: #fff;
  color: #999aa2;
}
.hover-services--search:hover h4, .hover-services--search:hover p {
  color: #fff;
}
.hover-services--search:hover i {
  color: #999aa2;
  background-color: #fff;
}

.hover-color--search:hover {
  background-color: #999aa2;
}
.hover-color--search:hover i {
  color: #fff;
}

.arrow-color--search {
  color: #999aa2;
}

.btn-color--search {
  background-color: #999aa2;
  color: #fff;
}
.btn-color--search:hover {
  background-color: #7e808a;
}

.hover-color--fbook {
  background-color: #212330;
}
.hover-color--fbook:hover {
  background-color: #1877f2;
}

.hover-color--ig {
  background-color: #212330;
}
.hover-color--ig:hover {
  background-color: #f51288;
}

.hover-color--twit {
  background-color: #212330;
}
.hover-color--twit:hover {
  background-color: #1d9bf0;
}

.hover-color--link {
  background-color: #212330;
}
.hover-color--link:hover {
  background-color: #0077b5;
}

.input-effect:focus {
  box-shadow: 0 0 4px #2fbbc5;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  transition: 0.2s ease;
}

.required {
  color: red;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 250px;
}
@media (min-width: 991px) {
  .logo {
    max-width: 400px;
  }
}
@media (max-width: 376px) {
  .logo {
    max-width: 215px;
  }
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 4px;
}

.wrapper {
  overflow-x: hidden;
}

.footer {
  background-color: #333645;
  color: #fff;
  padding-top: 1rem;
}

.footer__info {
  font-weight: 300;
  margin: 1rem 0;
}
.footer__info__title {
  margin-bottom: 2rem;
  font-weight: 300;
}
.footer__info--image {
  margin-bottom: 1rem;
  width: 250px;
}
@media (min-width: 768px) {
  .footer__info--image {
    width: 320px;
  }
}

.footer__socials--links {
  width: 33.3%;
  padding: 1rem 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__socials--links {
    width: auto;
  }
}

.footer__card {
  font-size: 0.8125rem;
  letter-spacing: 0.4px;
  line-height: 1.5rem;
  flex-grow: 1;
}
.footer__card__title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  padding: 0.5rem 0;
}
.footer__card--item a:hover {
  text-decoration: underline;
}

.footer__lower {
  background-color: #212330;
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
}
.footer__lower__copyright {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.8125rem;
  letter-spacing: 0.4px;
}
.footer__lower:hover a {
  text-decoration: underline;
}
.footer__lower--chat {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: #333645;
  border-radius: 50%;
  padding: 1rem;
  border: 0;
  box-shadow: 1px 1px #212330;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.newsletter__container {
  background-color: #dddddd;
  padding: 2rem 0;
  padding-bottom: 4rem;
}

.newsletter__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #333645;
  font-size: 2rem;
  font-weight: 300;
}
.newsletter__advert {
  margin: 2rem 0;
  font-weight: 600;
  line-height: 1.8;
  color: #333645;
}

.newsletter__form {
  margin-top: 1rem;
}
.newsletter__form--input {
  border: none;
}
.newsletter__form--input input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 991px) {
  .newsletter__form--input input {
    width: 90%;
  }
}
.newsletter__form--input label {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #333645;
}
.newsletter__form--btn {
  align-self: flex-start;
  background-color: #333645;
  color: #fff;
}
.newsletter__form--btn:hover {
  background-color: #212330;
}
.newsletter__form p {
  margin-left: 3rem;
}

.inner__header--phone {
  background: none;
  border: none;
  color: #333645;
  font-size: 0.75rem;
}
.inner__header__input {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #cfcfcf;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
@media (min-width: 768px) {
  .inner__header__input {
    background-color: #fff;
  }
}
.inner__header--btn-contact i {
  margin-right: 0.5rem;
}

.search {
  color: #333645;
  padding: 1rem 20px;
  cursor: pointer;
  font-size: 1.375rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search:hover {
  background-color: #7e808a;
}
@media (min-width: 768px) {
  .search {
    background-color: #999aa2;
    color: #fff;
  }
}
@media (min-width: 991px) and (max-width: 1250px) {
  .search {
    border-radius: 4px;
  }
}

.nav {
  background-color: #333645;
  color: #fff;
}
.nav__list--item {
  flex: 1;
  cursor: pointer;
  padding: 1.6rem;
  font-size: 1.125rem;
}
.nav span {
  font-size: 10px;
  display: block;
}
.nav i {
  margin-bottom: 0.5rem;
}

.dropdown__container__list--item {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
.dropdown__container__list--item i {
  margin-right: 1rem;
}
.dropdown__container__list--item:hover {
  text-decoration: underline;
}

.dropdown__container--title {
  font-size: 1.75rem;
  text-align: left;
}

.nav__list--item:hover .dropdown__container,
.nav__list--item:hover .arrow-down:after {
  display: block;
}

.arrow-down {
  position: relative;
}

.arrow-down:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 26px;
  width: 0;
  height: 0;
  left: 50%;
  right: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-top: 35px solid;
  display: none;
  z-index: 10;
  transform: translateX(-50%);
}
@media (min-width: 1250px) {
  .arrow-down:after {
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
  }
}

.fa-shopping-cart {
  transform: scaleX(-1);
}

.hero__container {
  background: url("../scss/utilities/images/cyber-hero-main.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 550px;
}
.hero__container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero__content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  text-align: center;
  letter-spacing: 0.4px;
}
.hero__content--title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero__content--text {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8rem;
}
.hero__content--btn {
  padding: 1rem;
  border: none;
  margin-top: 2rem;
  border-radius: 4px;
  font-size: 1rem;
}
.hero__content--btn i {
  margin-left: 1rem;
}
@media (min-width: 991px) {
  .hero__content--btn {
    font-size: 1.375rem;
    padding: 1.2rem;
  }
}
@media (min-width: 991px) {
  .hero__content {
    align-items: flex-start;
    text-align: left;
  }
  .hero__content--title {
    font-size: 3.875rem;
  }
  .hero__content--text {
    font-size: 1.5rem;
  }
}

.image-container__content {
  position: relative;
  margin: 0 2rem;
}
.image-container__content--popup {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  background-color: #333645;
  color: #fff;
  padding: 2rem;
  width: 300px;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}
.image-container__content--popup h4 {
  margin: 1rem;
}
.image-container__content--popup button {
  margin: 1rem;
  padding: 0.75rem;
  border: none;
}

.slider-container img {
  width: 100px;
  filter: grayscale(1);
}
.slider-container img:hover {
  filter: none;
}

.image-container__content:hover .image-container__content--popup {
  display: block;
}

.shape {
  position: relative;
}

.shape:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 30px;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 45px solid;
  color: #333645;
}

.slider-container--link {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 2rem;
  color: #000;
}
@media (min-width: 768px) {
  .slider-container--link {
    display: none;
  }
}

.about {
  background-color: #333645;
  color: #fff;
  letter-spacing: 0.4px;
}
.about p {
  line-height: 1.8;
}
.about__us {
  font-size: 1rem;
}
.about__us p:first-of-type {
  font-weight: 600;
}
.about__us p a:hover {
  text-decoration: underline;
}
.about__clients {
  font-weight: 600;
  font-size: 1.25rem;
}
.about__clients--rating {
  color: orange;
  margin-bottom: 1.5rem;
}
.about__clients span {
  display: inline-block;
  color: grey;
}
@media (min-width: 1250px) {
  .about__clients span {
    margin-bottom: 3rem;
  }
}
.about__clients .quote {
  font-size: 16px;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .about {
    padding: 1.5rem;
  }
}

.about__title {
  margin: 2rem 0;
  font-weight: 600;
  font-size: 2.125rem;
}

.btn-container--btn {
  align-self: flex-start;
  margin: 1rem 0;
  font-weight: 400;
  color: #fff;
  margin-right: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.btn-container i {
  margin-left: 0.5rem;
}
.btn-container .trustpilot-review {
  background-color: #00b67b;
}
.btn-container .trustpilot-review:hover {
  background-color: #009d6a;
}
.btn-container .google-review {
  background-color: #4387f6;
}
.btn-container .google-review:hover {
  background-color: #2b77f5;
}

.latest-news {
  line-height: 1.8;
}
.latest-news-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #333645;
  padding: 2rem 0;
  margin-right: 1.5rem;
}
.latest-news-heading a {
  color: #333645;
  display: none;
  font-weight: 600;
}
.latest-news-heading a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .latest-news-heading a {
    display: block;
  }
}

.latest-news__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #cfcfcf;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.latest-news__card hr {
  height: 1px;
  background-color: #cfcfcf;
  border: none;
}
.latest-news__card:hover {
  transform: translateY(-10px);
}
.latest-news__card .img-holder {
  width: 100%;
}
.latest-news__card__img {
  width: 100%;
  height: 100%;
}
.latest-news__card--tag {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.latest-news__card--tag:hover {
  text-decoration: underline;
}

.latest-news__content {
  padding: 0.75rem 2rem 1.75rem;
}
.latest-news__content h5 {
  margin: 0.75rem 0;
}
.latest-news__content--text {
  color: #666;
  font-size: 0.8125rem;
  padding: 1rem 0;
}
.latest-news__content--btn {
  padding: 0.4rem 1rem;
  display: inline-block;
  margin: 0.5rem 0;
  color: #fff;
  line-height: 35px;
  font-size: 1.125rem;
}
.latest-news__content--time {
  color: #cfcfcf;
  font-weight: 400;
  font-size: 0.875rem;
}
.latest-news__content--note {
  font-size: 1rem;
  height: 40px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.posted {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #333645;
  font-weight: 600;
  padding-top: 2rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-top: 1px solid #ccc;
}
.posted img {
  width: 50px;
  margin-right: 1rem;
}
.posted__by--author {
  color: #333645;
}
.posted__by--date {
  font-weight: 400;
  color: #666;
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.heading--title {
  font-size: 2.625rem;
  margin: 1rem 0;
  color: #333645;
  text-align: left;
}
.heading--link {
  color: #333645;
  font-weight: 600;
  font-size: 1.375rem;
  display: none;
}
.heading--link:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .heading--link {
    display: block;
  }
}

.our-services__container__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #cfcfcf;
  padding: 0.5rem;
  padding-top: 2rem;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.our-services__container__card:hover {
  transform: translateY(-15px);
}
.our-services__container--btn {
  margin-bottom: 1rem;
  padding: 0.9rem 1.25rem;
  align-self: center;
}
.our-services__container h4 {
  font-weight: 400;
  font-size: 1.375rem;
  color: #333645;
}
.our-services__container p {
  font-size: 0.875rem;
  margin: 1rem;
  line-height: 1.8;
  color: #6a6a6a;
}

.icon {
  display: block;
  margin: 0 auto 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  line-height: 75px;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  background-color: #333645;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 1.5rem;
}
@media (min-width: 768px) {
  .hamburger-menu {
    margin-left: 0;
  }
}
.hamburger-menu:hover {
  background-color: #1d1f28;
}

.ham-bar {
  width: 60%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s, opacity 0.8s, top 0.6s;
}

.bar-top {
  top: 30%;
}

.bar-bottom {
  top: 70%;
}

.hamburger-menu.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.hamburger-menu.active .bar-mid {
  opacity: 0;
}

.hamburger-menu.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}

.footer__main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1250px) {
  .footer__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.footer__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__card {
    width: 50%;
  }
}
@media (min-width: 1250px) {
  .footer__card {
    margin: 0.75rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .footer__lists {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__info__socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.about__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  .about__content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 991px) {
  .about__content {
    flex-direction: row;
  }
}

.about__us, .about__clients {
  margin: 0 1rem;
}
@media (min-width: 991px) {
  .about__us, .about__clients {
    width: 50%;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 500px) and (max-width: 991px) {
  .btn-container {
    flex-direction: row;
  }
}
@media (min-width: 1250px) {
  .btn-container {
    flex-direction: row;
  }
}

.latest-news {
  padding: 0 1.5rem;
}
@media (min-width: 991px) {
  .latest-news {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.latest-news__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .latest-news__cards {
    flex-direction: row;
    grid-gap: 30px;
  }
}

@media (min-width: 768px) {
  .latest-news__card {
    width: 50%;
  }
  .latest-news__card:last-child {
    display: none;
  }
}
@media (min-width: 1250px) {
  .latest-news__card {
    width: 31%;
  }
  .latest-news__card:last-child {
    display: block;
  }
}

.our-services__wrapper {
  margin: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 768px) {
  .our-services__wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.our-services__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-services__container__card {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .our-services__container {
    flex-direction: row;
    column-gap: 30px;
  }
  .our-services__container div:nth-last-child(-n+4) {
    width: 45%;
  }
}
@media (min-width: 1250px) {
  .our-services__container div:nth-child(-n+3) {
    width: 30%;
  }
  .our-services__container div:nth-last-child(-n+4) {
    width: 22%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .our-services__container div:nth-child(-n+3) {
    width: 30%;
  }
}

.inner__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
}
@media (min-width: 768px) {
  .inner__header {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .inner__header--phone {
    display: none;
  }
  .inner__header--btn-container {
    order: 2;
    margin-left: 10px;
  }
}

.inner__header--form {
  width: 100%;
}
@media (min-width: 768px) {
  .inner__header--form {
    width: 30%;
    margin-left: auto;
  }
}
@media (min-width: 991px) and (max-width: 1300px) {
  .inner__header--form {
    width: 0;
    margin-left: 60px;
  }
  .inner__header--form input {
    display: none;
  }
}

.inner__header--btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner__header--btn-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.inner__header--btn-contact button {
  margin: 0 0.5rem;
  padding: 1.1rem 1.5rem;
}
@media (min-width: 991px) {
  .inner__header--btn-contact {
    margin-left: auto;
    display: block;
  }
}

.input-icons {
  position: relative;
}

.input-icons i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 110px;
  text-align: center;
  position: relative;
  display: none;
}
.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 991px) {
  .nav {
    display: block;
  }
}

.dropdown__container {
  display: none;
  position: absolute;
  left: 0;
  min-width: 100%;
  top: 110px;
  z-index: 1;
}
.dropdown__container__list {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropdown__container__list--item {
  width: 33.3%;
}
.dropdown__container--title {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: inline-block;
  margin: 3rem 0;
}

.newsletter {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.newsletter__advert {
  display: flex;
  flex-wrap: nowrap;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.newsletter__advert .check-container {
  position: relative;
  display: block;
  cursor: pointer;
}
.newsletter__advert .check-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.newsletter__advert .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: inherit;
  border: 3px solid #333645;
  border-radius: 4px;
}
.newsletter__advert .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.newsletter__advert .check-container input:checked ~ .checkmark:after {
  display: block;
}
.newsletter__advert .check-container input:checked ~ .checkmark {
  background-color: #333645;
}
.newsletter__advert .check-container .checkmark:after {
  left: 10px;
  top: 4px;
  width: 6px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 991px) {
  .newsletter__form {
    flex-direction: row;
  }
}
@media (min-width: 991px) {
  .newsletter__form--input {
    width: 50%;
  }
}

/*# sourceMappingURL=index.css.map */
