
$primary-color: #333645;
$secondary-color: #dddddd;
$action-color: #999aa2;
$dark-color: #212330;
$white: #fff;
$black: #000;



//Typography 
$base-font: 'Poppins', sans-serif; 
$letter-spacing: .4px;


//Breaks
$small: 768px;
$medium: 991px;
$large: 1250px;