
$primary-color: #333645;
$secondary-color: #dddddd;
$action-color: #999aa2;
$dark-color: #212330;
$white: #fff;
$black: #000;
$grey: #cfcfcf;
$dark-grey: #6a6a6a;
$search-grey: #999aa2;

//Component colour options
$nav-colors:(
    bespoke: #667f9e,
    support: #4183d7,
    marketing: #2ecc71, 
    telecoms: #d64541, 
    design: #906daa, 
    cyber: #f62459, 
    developer: #ce4125,
    dark: $dark-color, 
    search: $search-grey, 
);


//Typography 
$base-font: 'Poppins', sans-serif; 
$letter-spacing: .4px;


//Break Points
$small: 768px;
$medium: 991px;
$large: 1250px;
$xlarge: 1301px;

