
//Layout for main content
.about__content{
    @include flexbox(column, nowrap);
    font-size: font-size(18px);
    //Add minium width after mobile size
    @include mq(small){
        @include max-width();
    }
    //Change flex layout
    @include mq(medium){
        flex-direction: row;
    }
}

//Styles for each section
.about__us, .about__clients{
    margin: 0 1rem;
    
    @include mq(medium){
        width: 50%;
    }
}

.btn-container{
    @include flexbox(column);

    
    //Change button layout on medium screens
    @media(min-width: 500px) and (max-width: $medium){
        flex-direction: row;
    }
    //Change button layout on large screens
    @include mq(large){
        flex-direction: row;
    }
}