//inner footer layout
.footer__main{
    @include max-width();
    @include flexbox(column);
    
    // Layout side by side on large screens 
    @include mq(large){
        @include flexbox(row, null, space-between, center);      
        width: 100%;
    }
}

//Layout for footer cards 
.footer__card{
    @include flexbox(column);
    //Make lists 50% wide to place side by side 
    @media(min-width: $small) and (max-width: 990px){
        width: 50%;
    }
    //Padding & margin between lists on large screens 
    @include mq(large){
        margin: 0.75rem;
        padding: 0.5rem;
    }
}

//Main Layout styles for lists 
.footer__lists{
    @include mq(small){
        @include flexbox(null, wrap);
    }
}

//Layout for footer social links 
.footer__info__socials{
    @include flexbox(null, wrap);
    gap: 10px;
}