.latest-news{
    padding: 0 1.5rem;
    //Add max width for larger screens 
    @include mq(medium){
        @include max-width();
        padding: 0;
    }
}

//Styles for card container
.latest-news__cards{
    @include flexbox(column, nowrap);
  
    
    //Change layout of cards on bigger screens
    @include mq(small){
        flex-direction: row;
        grid-gap: 30px;
    }
}

//Styles for each card
.latest-news__card{
    //Remove last item above mobile 
    @include mq(small){
        width: 50%;
        &:last-child{
            display: none;
        }
    }
  

    //Show all items on large screens 
    @include mq(large){
        width: 31%;
        &:last-child{
            display: block;
        }
    }
}