.latest-news{
    //Add max width for larger screens 
    @media(min-width: $medium){
        @include max-width();
    }
}

//Styles for card container
.latest-news__cards{
    @include flexbox(column, nowrap);
    
    //Change layout of cards on bigger screens
    @media(min-width: $small){
        flex-direction: row;
    }
    //Center items on larger screens 
    @media(min-width: $large){
        justify-content: center;
    }

}

//Styles for each card
.latest-news__card{
    //Remove last item above mobile 
    @media(min-width: $small){
        &:last-child{
            display: none;
        }
    }
    //Show all items on large screens 
    @media(min-width: $large){
        min-width: 33.33%;
        &:last-child{
            display: block;
        }
    }
}