.our-services__wrapper{
    margin: 1rem;
    text-align: center;
    font-family: $base-font;

    @include mq(small){
        @include max-width();
    }
}

.our-services__container{
    @include flexbox(column, wrap, space-between);

    &__card{
        flex-grow: 1;
    }
    //Change layout for medium screens
    @include mq(small){
        div:nth-last-child(-n+4){
            width: 45%;
        }
        
        flex-direction: row;
        column-gap: 30px;        
    }

 //Change layout for large screens
    @include mq(large){
        //Split first 3 elements
        div:nth-child(-n+3){
          width: 30%;
        }
       //Split last four elements
        div:nth-last-child(-n+4){
            width: 22%;
        }
    }

    @media(min-width: 768px) and (orientation: landscape){
        div:nth-child(-n+3){
            width: 30%;
          }
    }
}