
//Layout for slider container
.slider-container{
    @include flexbox(column, nowrap, null, center);
    margin-top: 2rem;
}

//Image styles
.image-container{
    width: 100%;
    @include flexbox(row, null, space-around, center);
    padding: 1rem 0;
}
