.about{
    background-color: $primary-color;
    color: $white;
    padding: 0.5rem;
    font-family: $base-font;
    line-height: 1.5;
    letter-spacing: $letter-spacing;

    //Bold first paragraph
    &__us{
        p:first-of-type {
            font-weight: 600;
          }
          //Show underline on hover for links
         p a:hover{
            text-decoration: underline;
        }
    }

    //Client side styles
    &__clients{
        font-weight: 600;
        font-size: font-size(20px);

        //Styling for star ratings
        &--rating{
            color: orange;
            margin-bottom: 1.5rem;
        }
        //Styles for review info 
        span{
            display: inline-block;
            color: grey;

            @media(min-width: $medium){
                margin-bottom: 3rem;
            }
        }

        .quote{
            font-size: 16px;
        }
    }

    //Increase padding on larger screens
    @media(min-width: $medium){
        padding: 2rem;
    }
}


//Titles for each section
.about__title{
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: font-size(34px);
}

//Button Syles
.btn-container{
    &--btn{
        align-self: flex-start;
        margin: 1rem 0;
        font-weight: 400;
        color: $white;
        margin-right: 1rem;
        font-size: font-size(20px);
        cursor: pointer;
    }
    //Icon inside button
    i{
        margin-left: 0.5rem;
    }
}
