.footer{
    background-color: $primary-color;
    color: $white;
    padding-top: 1rem;
}

//Logo and social links
.footer__info{
    font-weight: 300;
    margin: 1rem 0;
    
    &__title{
        margin-bottom: 2rem;
        font-weight: 300;
    }

    &--image{
        margin-bottom: 1rem;
        width: 250px;
        //Increase logo above mobile
        @include mq(small){
            width: 320px;
        }
    }   
}

//Styling for social icons 
.footer__socials--links{
    width: 33.3%;
    padding: 1rem 1.5rem;
    text-align: center;

    @include mq(small){
        width: auto;
    }
}

//List styles
.footer__card{
    font-size: font-size(13px);
    letter-spacing: $letter-spacing;
    line-height: 1.5rem;
    flex-grow: 1;

    //Headings for each list
    &__title{
        font-weight: 400;
        font-size: font-size(16px);
        margin-bottom: .75rem;
        margin-top: .75rem;
    }

    &--item a:hover{
        text-decoration: underline;
    }    
}
