.footer{
    background-color: $primary-color;
    color: $white;
    font-family: $base-font;
}

//Logo and social links
.footer__info{
    font-weight: 300;
    margin: 1rem 0;

    &__title{
        margin-bottom: 2rem;
    }

    &--image{
        margin-bottom: 1rem;
        width: 150px;

        @media(min-width: $small){
            width: 300px;
        }
    }   
    
//Layout of social icons 
    &__socials{
        @include flexbox(null, wrap);
        gap: 10px;
       
        @media(min-width: $small){
            width: 50%;
            flex-wrap: nowrap;
        }
    }
}

//Stylin for social icons 
.footer__socials--links{
    width: 35%;
    padding: 1.25rem;
    text-align: center;

    @media(min-width: $small){
        width: 100%;
    }
}

//List styles
.footer__card{
    @include flexbox(column);
    font-size: font-size(15px);
    letter-spacing: $letter-spacing;
    line-height: 1.5rem;
    flex-grow: 1;

    //Headings for each list
    &__title{
        font-weight: 400;
        font-size: font-size(16px);
        margin-bottom: .75rem;
        margin-top: .75rem;
    }

    &--item a:hover{
        text-decoration: underline;
    }

   @media(min-width: $small) and (max-width: 990px){
        width: 50%;
    }

    @media(min-width: $large){
        margin: 0.75rem;
        padding: 0.5rem;
    }
}
