.footer{
    background-color: $primary-color;
    color: $white;
    font-family: $base-font;
   
    //inner footer layout
    &__main{
        @include max-width();
        @include flexbox(column);
        
        //Layout side by side on large screens 
        @media(min-width: $large){
            flex-direction: row;
            justify-content: space-between;
        }
    }

    //Main Layout styles for lists 
    &__lists{
        @media(min-width: $small){
            @include flexbox(null, wrap);
        }

        @media(min-width: $medium){
            flex-wrap: nowrap;
        }
    }
}

//Logo and social links
.footer__info{
    font-weight: 300;
    margin: 1rem 0;

    &__title{
        margin-bottom: 2rem;
    }

    &--image{
        margin-bottom: 1rem;
        width: 300px;
    }   
    
//Layout of social icons 
    .footer__socials{
        @include flexbox(null, wrap);
        gap: 10px;

        @media(min-width: $small){
            width: 50%;
            flex-wrap: nowrap;
        }
    }
//Stylin og social icons 
    .footer__socials--links{
        width: 35%;
        background-color: $dark-color;
        padding: .75rem 1.25rem;
        text-align: center;

        &:hover{
            background: red;
        }
    }
}

//List styles
.footer__card{
    @include flexbox(column);
    font-size: font-size(13px);
    letter-spacing: $letter-spacing;
    line-height: 1.3rem;
    flex-grow: 1;

    //Headings for each list
    &__title{
        font-weight: 400;
        font-size: font-size(16px);
        margin-bottom: .75em;
    }

    &--item a:hover{
        text-decoration: underline;
    }

   @media(min-width: $small) and (max-width: 990px){
        width: 50%;
    }

    @media(min-width: $large){
        margin: 1rem;
        padding: 0.5rem;
    }
}
