//Hamburger menu styles
.hamburger-menu{
    height: 50px;
    width: 50px;
    background-color: $primary-color;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 1.5rem;

    @include mq(small){
        margin-left: 0;
    }

    &:hover{
        background-color: darken($primary-color, 10);
    }
}

.ham-bar{
    width: 60%;
    height: 4px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top{
    top: 30%;
}

.bar-bottom{
    top: 70%;
}

//Show X when button is clicked, add active class using JavaScript
.hamburger-menu.active .bar-top{
    transform: translate(-50%,-50%) rotate(-315deg);
    top: 50%;
}

.hamburger-menu.active .bar-mid{
    opacity: 0;
}

.hamburger-menu.active .bar-bottom{
    transform: translate(-50%,-50%) rotate(-225deg);
    top: 50%;
}