
//Inner header styles
.inner__header{
    &--phone{
        background: none;
        border: none;
        color: $primary-color;
        font-size: font-size(12px);
    }
    

    &__input{
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid $grey;
        background-color: rgba(0,0,0,0.1);
        //Change input background colour
        @include mq(small){
            background-color: $white;
        }
    }   
    //Increase padding for buttons in header
    &--btn-contact button{
        padding: 1.25rem;
    }

    // Margin between button text & icon
    &--btn-contact i{
        margin-right: 0.5rem;
    }
}


//Search icon styles
.search{
    color: $primary-color;
    padding: .9rem;
    cursor: pointer;
    font-size: font-size(22px);
    &:hover{
        background-color: darken($search-grey, 10);
    }
    //Change icon colour & background above mobile 
    @include mq(small){
        background-color: $search-grey;
        color: $white;
    }
}


