.mobile-nav{
    background-color: $primary-color;
    z-index: 10;
    overflow: auto;
    transition: all 0.5s ease;
    
    .inner__list li a{
        display: block;
        padding: 1rem;
        font-size: font-size(14px);
        background-color: $mobile-nav;
        border: 1px solid hsla(0,0%,100%,.1);
    }

    .inner__list ul li a, .inner__list .desktop-link{
        &::before{
            content: ">>";
            font-size: font-size(10px);
            margin-right: 10px;
        }
    }
}

.nav__title, .mobile-link-title{
    display: block;
    background-color: $primary-color;
    padding: 1.2rem 1rem;
    font-size: font-size(16px);

    &:hover{
        background-color: lighten($primary-color, 2);
    }
}

//Overlay for page when nav is open
.mobile-nav-overlay.active{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}


//MOBILE NAV 
.mobile-link{
    &-list{
        color: $white;
        background-color: darken($primary-color, 10);
        margin: 1rem;
        text-align: center;
        

        @include mq(medium){
            display: none;
        }

        li{
            padding: 0.75rem;
            font-size: font-size(16px);
        }
    }
  
     &-title, &-heading{
        text-align: center;
        padding: 1.5rem;
        margin: 1.5rem;
        border: 1px solid hsla(0,0%,100%,.1);
        background-color: inherit;
        font-size: font-size(22px);
    }

    &-heading{
        i{
            display: block;
            font-size: font-size(24px);
            margin-bottom: 0.5rem;
        }

        small{
            display: block;
            line-height: 1.5;
        }
    }
}
