//MAIN NAV CONTAINER STYLES
.nav{
    background-color: $primary-color;
    color: $white;

    //Main nav list item styles
    &__list--item{
        flex: 1;
        cursor: pointer;
        padding: 1.6rem;
        font-size: font-size(18px);
    }
    
    //Change font size first word
    span{
        font-size: 10px;
        display: block;
    }

    //Icon styles
    i{
        margin-bottom: 0.5rem;
    }
}

 //Dropdown list item styles 
.dropdown__container__list--item{
    text-align: left;
    margin-bottom: 2rem;
    font-size: font-size(20px);

    i{
        margin-right: 1rem;
    }

    &:hover{
        text-decoration: underline;
    } 
}


//Dropdown list title 
.dropdown__container--title{
    font-size: font-size(28px);
    text-align: left;
}


//Show dropdown Nav List & shape on hover
.nav__list--item:hover .dropdown__container, 
.nav__list--item:hover .arrow-down:after {
    display: block
}

//Arrow styles 
.arrow-down{
    position: relative;
}

.arrow-down:after{
    @include shape(65px,65px,35px,26px,50%,0,0);
    display: none;
    z-index: 10;
    transform: translateX(-50%);
    //Resize border on large screens
    @include mq(large){
        border-left: 85px solid transparent;
        border-right: 85px solid transparent;
    }
}  

//Rotate shopping cart icon
.fa-shopping-cart{
    transform: scaleX(-1);
}