//MAIN NAV CONTAINER STYLES
.nav{
    @include flexbox();
    height: 120px;
    background-color: $primary-color;
    color: $white;
    font-family: $base-font;
    text-align: center;
    position: relative;
    
    //Main nav list styles
    &__list{
        @include flexbox(row, wrap, null, center);
        @include max-width;
      
        &--item{
           width: 14%;
            cursor: pointer;
            padding: 1.8rem;
            font-size: font-size(20px);
        }
    }

    //Change font size first word
    span{
        font-size: 10px;
        display: block;
    }

    //Icon styles
    i{
        margin-bottom: 0.5rem;
    }
    //Remove nav on smaller screens
    @media(max-width: 1000px){
        display: none;
    }
}

//DROPDWON NAV STYLES
.dropdown__container{
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    top: 120px;
    z-index: 1;
   
    //Dropdown list styles
    &__list{
        @include max-width;
        @include flexbox();

 
        //Dropdown list item styles 
        &--item{
            width: 33.3%;
            text-align: left;
            margin-bottom: 2rem;
            font-size: font-size(20px);

            i{
                margin-right: 1rem;
            }

            &:hover{
                text-decoration: underline;
            }
        }
    }
    //Dropdown list title 
    &--title{
        @include max-width;
        display: inline-block;
        font-size: font-size(28px);
        margin: 3rem 0;
        text-align: left;
    }
}


//Show dropdown Nav List & shape on hover
.nav__list--item:hover .dropdown__container, 
.nav__list--item:hover .arrow-down:after {
    display: block
}

//Arrow styles 
.arrow-down{
    position: relative;
  
}

.arrow-down:after{
    @include shape(85px,85px,45px,29.5px,50%,0,0);
    display: none;
    z-index: 50;
    transform: translateX(-50%);
}  

//Rotate shopping cart icon
.fa-shopping-cart{
    transform: scaleX(-1);
}