.newsletter__container{
    background-color: $secondary-color;
    padding: 2rem 0;  
    padding-bottom: 4rem;
}

//Newsletter styles
.newsletter{
    &__title{
        margin-top: 1rem;
        margin-bottom: .5rem;
        color: $primary-color;
        font-size: font-size(32px);
        font-weight: 300;
    }

    //Text & Checkbox Styles
    &__advert{
        margin: 2rem 0;
       font-weight: 600;
       line-height: 1.8;
       color: $primary-color;     
    }
}

//Form styles
.newsletter__form{
    margin-top: 1rem;
 
    //Form input styles
    &--input{
        border: none;
    
        //Input element styles
        input{
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            //Reduce inputs on medium screens
            @include mq(medium){
                width: 90%;
            }
        }

        label{
            display: inline-block;
            margin-bottom: 1rem;
            font-weight: 600;
            color: $primary-color;
        }
    }

    //Form Button Styles
    &--btn{
        // width: 125px;
        align-self: flex-start;
        background-color: $primary-color;
        color: $white;
        &:hover{
            background-color: $dark-color;
        }
    }
}

